@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 24px;
  margin-left: 16px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 24px;
  margin-left: 16px;
}

.summary-table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 16px;
}

.summary-table th,
.summary-table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}